<!--DOCTYPE html-->
<html>
    <body>
        <div class="container">
            {% block content %}
                <h1>{{ title }} is working!</h1>

                {% for obj in object_list %}
                    <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
                    {{ obj.content }}<br/>
                    {{ obj.timestamp }}<br/>
                    {{ obj.updated }}<br/>
                    {{ obj.id }}<br/>
                {% endfor %}
            {% endblock content %}
        </div>
    </body>
</html>