<!-- to load static files more dynamically "/static/css/base.css" -->
{% load staticfiles %}

<!--DOCTYPE html-->
<html>
    <head>
        <title>{% block head_title %}Try Django 1.9{% endblock head_title %}</title>
        <link rel="stylesheet" href='{% static "css/base.css" %}' />
    </head>
    <body>

        {% include "messages_displayed.html" %}

        <div class="container">
            {% block content %}
                
            {% endblock content %}
        </div>

    </body>
</html>